{% extends 'base.html.twig' %}

{% block title %}Admin - création des utilisateur{% endblock %}

{% block body %}
<div class="center-form">
    <div class="form-user">
        <div class="img-form">
            <img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise.">
        </div>
        <div>
            <h1>Création d'un utilisateur</h1>

            <div class="form-label-input margin-top-20">
                {{ form_start(form) }}

                <div class="form-group">
                    <label for="">Prénom</label>
                    {{ form_widget(form.firstName) }}
                </div>

                <div class="form-group">
                    <label for="">Nom</label>
                    {{ form_widget(form.lastName) }}
                </div>

                <div class="choice-roles margin-top-20">
                    {{ form_row(form.roles) }} 
                </div>

                <div class="form-group margin-top-20">
                    <label for="">Adresse email</label>
                    {{ form_widget(form.email) }}
                </div>

                <div class="form-group">
                    <label for="">Mot de passe</label>
                    {{ form_widget(form.password.first) }}
                </div>

                <div class="form-group">
                    <label for="">Confirmation mot de passe</label>
                    {{ form_widget(form.password.second) }}
                </div>

                <div class="form-group">
                    <label for="">Numéro de Siren</label>
                    {{ form_widget(form.siren) }}
                </div>

                <div class="form-group">
                    <label for="">Numéro de téléphone</label>
                    {{ form_widget(form.UserInfos.phoneNumber) }}
                </div>

                <div class="form-group file-input-container">
                    <label for="{{ form.UserInfos.file.vars.id }}" class="file-label">K-bis en PDF</label>
                    {{ form_widget(form.UserInfos.file) }}
                </div>

                <div class="form-group file-input-container">
                    <label for="{{ form.UserInfos.drivingLicenseFile.vars.id }}" class="file-label">Permis de conduire en PDF</label>
                    {{ form_widget(form.UserInfos.drivingLicenseFile) }}
                </div>

                <div class="form-group file-input-container">
                    <label for="{{ form.UserInfos.photoFile.vars.id }}" class="file-label">Photo de profile</label>
                    {{ form_widget(form.UserInfos.photoFile) }}
                </div>

                <div class="margin-top-20 margin-bottom-50">
                    <button type="submit" class="btn-new">Créer</button>
                </div>

            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
