{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="center-form">
    <div class="form-user">
        <div class="img-form">
            <a href="{{ path('app.home') }}"><img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise." class="img-pages-infos" id="anim-img-register"></a>
        </div>
        <div>
            <h1 id="anim-title-register">Inscrivez-vous</h1>
            <div class="form-label-input margin-top-20">
                <div id="anim-form-register">
                {{ form_start(form) }}

                <div class="form-group margin-top-20">
                    <label for="">Nom <span class="little-star">*</span></label>
                    {{ form_widget(form.lastName) }}
                </div>

                <div class="form-group">
                    <label for="">Prénom <span class="little-star">*</span></label>
                    {{ form_widget(form.firstName) }}
                </div>

                <div class="choice-roles margin-top-20">
                    {{ form_row(form.roles) }} 
                </div>

                <div class="form-group margin-top-20">
                    <label for="">Adresse email <span class="little-star">*</span></label>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="form-group">
                    <label for="">Mot de passe <span class="little-star">*</span></label>
                    {{ form_errors(form.password.first) }}
                    {{ form_widget(form.password.first) }}
                </div>

                <div class="form-group">
                    <label for="">Confirmation mot de passe <span class="little-star">*</span></label>
                    {{ form_errors(form.password.second) }}
                    {{ form_widget(form.password.second) }}
                </div>

                <div class="form-group">
                    <label for="">Numéro de Siren <span class="little-star">*</span></label>
                    {{ form_errors(form.siren) }}
                    {{ form_widget(form.siren) }}
                </div>

                {{ form_row(form.agreeTerms) }}

                </div>
                <div class="margin-top-20" id="anim-btn-register">
                    <button type="submit" id="submit-button" class="btn-new">Suivant</button>
                </div>
                
            {{ form_end(form) }}
            </div>

            <div class="text-center margin-top-40 form-little-line" id="anim-btn-register">
                <p>Déjà inscrit(e) ? <a href="{{ path('app.login') }}">Se connecter</a></p> 
            </div>

        </div>
    </div>
</div>
{% endblock %}







