{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}

{% block body %}
{% include "Layout/nav.html.twig" %}

    <h1>Conversation</h1>

    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.sender.firstName }}</strong>: {{ message.content }} <em>{{ message.createdAt | date('Y-m-d H:i') }}</em>
            </li>
        {% endfor %}
    </ul>

    <h2>Envoyer un nouveau message</h2>
    {{ form_start(form) }}
        {{ form_widget(form.content) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}

    <h2>Mandater</h2>
{% endblock %}