<div class="menu-container margin-top-20">
    <button class="menu-toggle">
        Rechercher un chauffeur 
        <span class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </span>             
    </button>
    <div class="menu-content">

        <div class="center-form">
            <div class="form-user">  
                <div>
                    <div class="form-label-input margin-top-20">
                    {{ form_start(form) }}
                        <div class="form-group">
                            <label for="date">Lieu de départ</label>
                            {{ form_widget(form.lieu_depart) }}
                        </div>
                        <div class="form-group">
                            <label for="date">Lieu d'arrivée</label>
                            {{ form_widget(form.lieu_arrivee) }}
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            {{ form_widget(form.date) }}
                        </div>
                        <div class="form-group">
                            <label for="">Quelle service cherchez-vous ?</label>
                            {{ form_widget(form.service) }}
                        </div>
                        <div class="form-group margin-top-20 margin-bottom-50">
                            {{ form_widget(form.search) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

</div>