<div class="center-form">
    <div class="form-user">
        <div class="img-form" id="anim-img-create-annonce">
            <img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise.">
        </div>
        <div>
            <h1 id="anim-title-create-annonce">Annonce</h1>
            <div class="form-label-input margin-top-20">
                <div id="anim-form-create-annonce">
                {{ form_start(form) }}
                <div class="form-group">
                    <label for="">Titre de l'annonce <span class="little-star">*</span></label>
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-group">
                    <label for="date">Date <span class="little-star">*</span></label>
                    {{ form_widget(form.date) }}
                </div>
                <div class="form-group">
                    <label for="">Lieu de départ <span class="little-star">*</span></label>
                    {{ form_widget(form.lieu_depart) }}
                </div>
                <div class="form-group">
                    <label for="">Lieu d'arrivée <span class="little-star">*</span></label>
                    {{ form_widget(form.lieu_arrivee) }}
                </div>
                <div class="form-group">
                    <label for="">Description <span class="little-star">*</span></label>
                    {{ form_widget(form.description) }}
                </div>
                <div class="form-group">
                    <label for="">Quels service proposez-vous <span class="little-star">*</span></label>
                    {{ form_widget(form.service) }}
                </div>
                </div>
                <div class="margin-top-20 margin-bottom-50" id="anim-btn-form-annonce">
                    <button type="submit" class="btn-new">Mettre en ligne</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
    