<section class="margin-top-30">
    <p class="margin-bottom-5" id="anim-title-annonce-1">Rechercher une annonce</p>
    <div class="menu-list-infos">
     <button class="menu-button-infos annonce-button-infos" id="anim-form-search">
            <div class="d-flex align-item-center gap-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /></svg>                                                          
                Recherche                        
            </div>
            <span class="arrow-info search-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
                </svg>
            </span>
        </button>
        <div class="annonce-menu-search first-annonce-search">
            <div class="form-center-search"> 
                <div class="form-search"> 
                    <div>
                        <div class="form-label-input margin-top-20">
                        {{ form_start(form) }}
                            <div class="form-group">
                                <label for="date">Lieu de départ</label>
                                {{ form_widget(form.lieu_depart) }}
                            </div>
                            <div class="form-group">
                                <label for="date">Lieu d'arrivée</label>
                                {{ form_widget(form.lieu_arrivee) }}
                            </div>
                            <div class="form-group">
                                <label for="date">Date</label>
                                {{ form_widget(form.date) }}
                            </div>
                            <div class="form-group">
                                <label for="">Quel service cherchez-vous ?</label>
                                {{ form_widget(form.service) }}
                            </div>
                            <div class="form-group margin-top-20 margin-bottom-50">
                                {{ form_widget(form.search) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>