{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    {% include "Layout/nav.html.twig" %}

    <div class="annonce-full">

        <div class="header-title">
            <div class="header-title-widget d-flex" id="anim-header-annonce">
                <img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise.">
                <p>Accueil</p>
            </div>
        </div>

        <div class="annonce-center">

            {% include "Backend/Annonce/_formSearch.html.twig" %}
    
            <div class="margin-top-30 padding-bottom-150">
                <p class="margin-bottom-5" id="anim-title-annonce-2">Chauffeurs disponible</p>
                {% if annonces|length > 0 %}
                    {% for annonce in annonces %}
                    <div class="menu-list-infos" id="anim-list-annonces">
                        <button class="menu-button-infos annonce-second-button-infos">
                            <div class="d-flex align-item-center gap-8">
                                <img src="{{ asset('images/photo/' ~ annonce.chauffeur.userInfos.photoName) }}" alt="Photo du chauffeur." class="img-annonce-list">
                                {{ annonce.chauffeur.firstName }} {{ annonce.chauffeur.lastName }}
                            </div>
                            <span class="arrow-info annonce-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
                                </svg>
                            </span>
                        </button>
                        <div class="annonce-menu-search first-annonce-list">
                            <div class="d-flex gap-8 padding-10">
                                <span class="bold">Titre :</span>
                                <p>{{ annonce.title }}</p>
                            </div>
                            <div class="d-flex gap-8 padding-10">
                                <span class="bold">Description :</span>
                                <p>{{ annonce.description }}</p>
                            </div>
                            <div class="d-flex gap-8 padding-10">
                                <span class="bold">Disponible le :</span>
                                <p>{{ annonce.date|date('d/m/Y') }}</p>
                            </div>
                            <div class="d-flex gap-8 padding-10">
                                <span class="bold">Service :</span>
                                <p>{{ annonce.service.name }}</p>
                            </div>
                            <div class="d-flex gap-8 padding-10">
                                <span class="bold">Lieu de départ :</span>
                                <p>{{ annonce.lieuDepart }}</p>
                            </div>
                            <div class="d-flex gap-8 padding-10">
                                <span class="bold">Lieu d'arrivée :</span>
                                <p>{{ annonce.lieuArrivee }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="margin-top-50">
                        <p>Aucune annonce en ligne.</p>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock %}


