<div class="center-form">
    <div class="form-user">
        <div class="img-form" id="anim-img-form-user">
            <img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise.">
        </div>
        <div>
            <h1 id="anim-title-form-user">Informations personnel</h1>
            <div class="form-label-input margin-top-20">
                {{ form_start(form) }}
                <div id="anim-form-user">
                <div class="form-group file-input-container">
                    <label for="{{ form.photoFile.vars.id }}" class="file-label">Ajouter une photo de profile</label>
                    {{ form_widget(form.photoFile) }}
                </div>
                
                <div class="form-group margin-top-20">
                    <label for="">Nom</label>
                    {{ form_widget(form.lastName) }}
                </div>

                <div class="form-group">
                    <label for="">Prénom</label>
                    {{ form_widget(form.firstName) }}
                </div>

                <div class="form-group">
                    <label for="">Numéro de téléphone 🇫🇷</label>
                    {{ form_widget(form.phoneNumber) }}
                </div>
                
                <div class="form-group file-input-container">
                    <label for="{{ form.drivingLicenseFile.vars.id }}" class="file-label">Permis de conduire en PDF</label>
                    {{ form_widget(form.drivingLicenseFile) }}
                </div>

                <div class="form-group file-input-container">
                    <label for="{{ form.file.vars.id }}" class="file-label">K-bis en PDF</label>
                    {{ form_widget(form.file) }}
                </div>
                </div>
                <div class="margin-top-20 margin-bottom-50" id="anim-btn-form-user">
                    <button type="sumbit" class="btn-new">Ok</button>
                </div> 

                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>