{% extends 'base.html.twig' %}

{% block title %}Modification de mes informations{% endblock %}

{% block body %}
    <div class="center-form">
        <div class="form-user">
            <div class="img-form">
                <img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise.">
            </div>
            <div>
                <h1>Modification</h1>
                <div class="form-label-input margin-top-20">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label for="">Adresse email</label>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        <label for="">Mot de passe</label>
                        {{ form_widget(form.password.first) }}
                    </div>   
                    <div class="form-group">
                        <label for="">Confirmation mot de passe</label>
                        {{ form_widget(form.password.second) }}
                    </div>
                    <div class="margin-top-20">
                        <button type="submit" class="btn-new">Mettre à jour</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}