{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block body %}
{% include "Layout/nav.html.twig" %}

    <h1>profil</h1>
    {% if userInfos %}
        <p>Prénom : {{ userInfos.firstName }}</p>
        <p>Nom de famille : {{ userInfos.lastName }}</p>
        <p>Téléphone : {{ userInfos.phoneNumber }}</p>
        <p>Photo : <img src="{{ asset('images/photo/' ~ userInfos.photoName) }}" alt="Photo de {{ userInfos.firstName }}" height="30px"></p>
        <p>Permis de conduire : <a href="{{ asset('images/driving_license/' ~ userInfos.drivingLicenseName) }}">Voir le permis de conduire</a></p>
    {% else %}
        <p>Prénom :</p>
        <p>Nom de famille :</p>
        <p>Téléphone :</p>
        <p>Photo : <img></p>
        <p>Permis de conduire : <img></p>
    {% endif %}
    {% if not userInfos %}
    <a href="{{ path('app.profile.create') }}">Créer le profile</a>
{% else %}
    <a href="{{ path('app.profile.edit', {'id': userInfos.id}) }}">Modifier le profile</a>
{% endif %}
{% endblock %}
